/**
 * Fabien Casters
 */

[draggable="true"] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
    cursor: move;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    background: #086870;
    font-family: sans-serif;
}

/* sn-grid */
.sn-grid {
    position: relative;
    margin-left: 80px;
    height: 100%;
    background: #086F78;
}

/* sn-tile */
.sn-tile {
    position: absolute;
    border: 1px solid #333;
    background: #FFE7BF;
}

.sn-tile-tools {
    position:absolute;
    z-index: 30;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(45, 45, 45, 0.5);
    text-align: center;
    color: #fff;
    padding: 10px;
}
.sn-tile-tools a {
    color: #ddd;
}

.sn-tile-back {
    z-index: 20;
    background: #353535;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
}

.sn-tile-front {
    padding: 10px;
}

.sn-tile-close {
    z-index: 10;
    position: absolute;
    top: 10px;
    right: 10px;
}

/********************/
/* debug */
.debug {
    position:absolute;
    z-index: 2;
    left: 0;
    top: 0;
    opacity: 0.3;
    padding: 5px;
    background: #fff;
}
.debug:hover {
    opacity: 1;
}
